@import url('https://fonts.googleapis.com/css2?family=Yarndings+12&display=swap');

$font-card: "Yarndings 12", system-ui;
$texte-color: #33FFEC;

figcaption {
    font-family: $font-card;
    color: $texte-color;
}